.menu-header {
    float:left;
    min-height: 100px;
    max-height: 100px;
    min-width: 800px;
    max-width: 800px;

    font-size:40px;
    text-align: center;
    line-height: 100px;
}

.menu-option-group {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.menu-upper {
    position: relative;
}

.menu-lower {
    position: relative;
}

.menu-option {
    float: left;

    background: #000000;

    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #000000;

    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
    line-break: 0px;
    line-height: 80px;

    min-height: 220px;
    max-height: 220px;

    min-width: 380px;
    max-width: 380px;
}

.short-menu-option {
    float: left;

    background: #080808;

    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #101010;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    text-align: center;

    line-height: 60px;
    height: 60px;
    width: 375px;
}

.long-menu-option {
    float: left;

    background: #080808;

    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #101010;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    text-align: center;

    line-height: 60px;
    height: 60px;
    width: 775px;
}

.menu-item-logo {
    width: 100px;
    height: 100px;

    top: 30px;
    position: relative;
}

.long-item-text {
    bottom: 30px;
    position: relative;
    font-size: 30px;
}

.menu-item-text {
    bottom: 30px;
    position: relative;
    font-size: 30px;
}

.menu-glow {
    box-shadow: 0 10px 10px rgba(150, 0, 0, 0.5),
                0 -10px 10px rgba(150, 0, 0, .5);

    animation: animate-menu-glow 1s ease-out infinite;
}

@keyframes animate-menu-glow {
    0% {
        box-shadow: 0 10px 10px rgba(150, 0, 0, .7),
                    0 -10px 10px rgba(150, 0, 0, .7);
    
    }
    50% {
        box-shadow: 0 4px 4px rgba(150, 0, 0, .1),
                    0 -4px 4px rgba(150, 0, 0, .1);

    }
    100% {
        box-shadow: 0 10px 10px rgba(150, 0, 0, .7),
                    0 -10px 10px rgba(150, 0, 0, .7);

    }
}

.menu-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 320px;
    width: 800px;
    max-height: 100vh;
}

.keen-slider__slide {
    overflow: visible;
}
  
.keen-slider__slide > div {
    transition: all 0.4s;
    
    transform: scale(0.75);
}

.active > div {
    transform: scale(1.00);
}
